var filter = ({substrString:(function (str,n){if (!str)return;;if (typeof str !== 'string')return;;if (str.length < n)return(str);;return(str.slice(n))}),setCornerTagStyle:(function (corner,type){var borderColor;var styleStr = '';if (corner.fontColor){var _fontColor = corner.fontColor.toLowerCase();var colorSlice = [];for(var i = 1;i < 7;i += 2){colorSlice.push(parseInt('0x' + _fontColor.slice(i,i + 2)))};borderColor = 'rgba(' + colorSlice.join(',') + ', 0.2)'};if (corner.shapeType === 1){styleStr += 'border-radius: 8rpx;'} else {styleStr += 'border-radius: 8rpx 8rpx 8rpx 0;'};if (type == 'goods'){styleStr += 'background: ' + corner.bgColor + ';'} else {styleStr += 'background: ' + corner.bgColor + ';'};styleStr += 'color:' + corner.fontColor + ';';return(styleStr)}),filterStringBreak:(function (str){if (!str)return(str);;if (typeof str !== 'string')return(str);;return(str = str.replace(getRegExp('\n','img'),' '))}),});module.exports = filter;